.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo{
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  background-color: rgb(58, 58, 58);
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.logo img{
  width: 100px;
  /* height: 40px; */
}

.header{
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid rgb(58, 58, 58);
  display: flex;
}

.header img{
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.header input{
  width: 100%;
  height: 20px;
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(58, 58, 58);
}

.box{
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 20px;
  position: relative;
}

.body{
  transition: all 0.5s;
}

.info{
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid rgb(58, 58, 58);
  display: flex;
  justify-content: center;
}

.info span{
  font-size: 12px;
  color: rgb(58, 58, 58);
  padding: 6px 0;
  position: absolute;
  bottom: 50px;
  right: 0;
  margin: 5px 10px;
}

.info button{
  margin: 0 10px;
  cursor: pointer;
  background-color: #fff;
  padding: 5px;
  border: 1px solid  rgb(58, 58, 58);
  border-radius: 3px;
  transition: all 0.5s;
}

.info button:hover,
#active-click{
  background-color: rgb(58, 58, 58);
  color: #fff;
}